h1 {
  padding-top: 40px;
  padding-right: 60px;
  font-family: 'Cantata One', serif;
  text-align: right;
  color: white;
  text-shadow: 4px 3px 2px rgba(150, 150, 150, 1);
}

h2 {
  font-family: 'Cantata One', serif;
  text-align: center;
  color: black;

}

h5 {
  padding-right: 40px;
  color: white;
  text-align: right;
  text-shadow: 4px 2px 2px rgba(150, 150, 150, 1);
}

img {
  width: 100%;
}

img icon:hover {
  color: white;
}

nav a {
  color: black;
}

nav ul a {
  color: black;
  font-size: 25px;
}

.about {
  font-size: 20px;
  font-family: 'Cantata One', serif;
}

.icon {
  width: 60px;
  height: 60px;
}

.imgWrap {
  position: relative;
  height: 300px;
  width: 250px;
}

.imgWrap:hover .project-description {
  visibility: visible;
  opacity: 1;
}

.letter {
  color:white;
  font-size: 55px;
}
.mustard {
  color: #FCA301;
}

.nav-wrapper {
  opacity: 2;
}

.parallax-bg {
  height: 100%;
  padding: 7%;
  background-image: url(images/blue-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.projects {
  height: 350px;
  width: 450px;
}

.project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  width: 100%;
}

.section {
  padding-top: 40px;
  padding-bottom: 35px;
  min-height: 600px;
}

.slider {
  width: 900px;
  margin: 0 auto;
}

.slider .slides li img {
  background-position: initial;
}

.social:hover {
  font-size:4em;
  transition: .5s ease-out;
  color:white;
}

.subtitle {
  font-family: 'Cantata One', serif;
  text-align: center;
  color: white;
}

.white {
  background-color: white;
}

#email {
  font-size: 30px;
  color: white;
}

#icons {
  padding-top: 5%;
  padding-right: 80px;
}

#profile-pic {
  border-radius: 100%;
  height: 160px;
  width: 160px;
}

#thanks {
  font-size: 30px;
}
